.printingGuide {
    margin: 2rem auto;
    & > h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 0;
    }
    & > h2 {
        font-size: 2rem;
        margin-top: 6rem;
        padding-bottom: 0.5rem;
        border-bottom: 0.125rem solid white;
        // border: 0.25rem solid white;
    }
    & > p {
        font-size: 1.5rem;
    }
    & > ul > li {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
}

.embeddedTweet {
    display: flex;
    justify-content: center;
}