.printingToolPage {
    padding-bottom: 2rem;
}

.printingToolTitle {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 4rem;
}


.previewContainer {
    margin: 2rem 0;
    width: 100%;
    text-align: center;
    position: relative;
    & > .preview {
        background-color: white;
        max-height: 80vh;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
    }
    & > .previewText {
        position: absolute;
        top: 26%;
        left: 26%;
        font-size: 10vh;
        color: black;
        font-weight: 900;
        opacity: 0.5;
        transform: rotate(-45deg);
    }
}

.upload {
    margin: 2rem 0;
    width: 100%;
    & > * {
        width: 100% !important;
        margin: 0 auto;
    }
}

.pdfDownload {
    margin: 2rem 0;
    border: 2px solid red;
    width: 100%;
    height: 4rem;
}

.printingToolForm {
    margin: 2rem 0;
}

.printingToolFormLabel {
    padding: 0.25rem;
    & > input {
        padding: 0.25rem;
        margin-left: 0.5rem;
        color: white;
        background-color: black;
        border: none;
        font-size: 1rem;
    }
    & > input[type="checkbox"] {
        cursor: pointer;
    }
}