.urza-page-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.loyalty-abilities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    margin-top: 2rem;
    & > button {
        font-size: 2rem;
        height: 3rem;
        width: 4rem;
    }
}

.activated-ability {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}